.about {
  padding-bottom: 80px;
}
.about__title {
  margin-bottom: 42px;
  color: rgb(20, 20, 20);
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 700px;
}
.about__title-bold {
  font-weight: 700;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__list__item {
  display: flex;
  align-items: flex-start;
  max-width: 733px;
  gap: 24px;
}
.about__list__item__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px !important;
  height: 48px !important;
  background: linear-gradient(
    -40.76deg,
    rgb(13, 142, 0) -4.487%,
    rgb(23, 189, 6) 104.487%
  );
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.about__list__item-box {
  margin: 8px 0 0;
}

.about__list__item__title {
  margin-bottom: 8px;
  color: rgb(20, 20, 20);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.about__list__item__doc {
  color: rgb(20, 20, 20);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.about__list__img {
  width: 416px;
  height: 520px;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

@media only screen and (max-width: 1150px) {
  .about__list__img {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    padding-bottom: 64px;
  }
  .about__title {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 26px;
    text-align: center;
  }
  .about__list__item__number {
    width: 40px !important;
    height: 40px !important;
    font-size: 14px;
  }
  .about__list__item__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .about__list__item__doc {
    font-size: 14px;
  }
  .about__list__item-box {
    margin: 0;
  }
  .about__list {
    gap: 32px;
  }
}
@media only screen and (max-width: 572px) {
  .about {
    padding-bottom: 40px;
  }
  .about__title {
    max-width: 328px;
    font-size: 22px;
    margin-bottom: 24px;
  }
  .about__list__item__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .about__list__item__doc {
    font-size: 14px;
  }
  .about__list {
    gap: 24px;
  }
}
