.comand {
  padding-bottom: 80px;
}

.comand__title {
  color: rgb(20, 20, 20);
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.comand__titlebol {
  font-weight: 700;
}

.comand__swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conmand__wrapper {
  position: relative;
  margin-bottom: 40px;
}
.comand__prevbutton {
  position: absolute;
  top: calc(50% - 21px);
  left: -64px;
}
.comand__nextbutton {
  position: absolute;
  top: calc(50% - 21px);
  right: -64px;
}
.swiper-custom-comandpagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- comandcard ----  */
.comandcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comandcard__img {
  width: 196px;
  height: 196px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.comandcard__name {
  color: rgb(20, 20, 20);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 8px;
  text-align: center;
}
.comandcard__about {
  color: rgb(20, 20, 20);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media only screen and (max-width: 1470px) {
  .comand__prevbutton {
    left: -56px;
  }
  .comand__nextbutton {
    right: -56px;
  }
}
@media only screen and (max-width: 1070px) {
  .comand__prevbutton,
  .comand__nextbutton {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .comand {
    padding-bottom: 64px;
  }
  .comand__title {
    max-width: 512px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 26px;
  }
  .comandcard__img {
    width: 158px;
    height: 158px;
    margin-bottom: 16px;
  }
  .comandcard__name {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .comandcard__about {
    font-size: 14px;
  }
  .conmand__wrapper {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 570px) {
  .comand {
    padding-bottom: 40px;
  }
  .comand__title {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .comand__swiper-slide {
    width: 220px !important;
  }
}
