.assortment {
  padding-bottom: 80px;
}
.assortment__title {
  max-width: 986px;
  margin: 0 auto;
  color: rgb(20, 20, 20);
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.assortment__title__bold {
  font-weight: 700;
}

.assortment__list {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}
.assortment__img__rotate {
  transform: rotate(180deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.assortment__listitem {
  width: calc(25% - 18px);
  border-radius: 0px 0px 8px 8px;
  background: rgb(255, 255, 255);
}

.assortment__listbox {
  padding: 24px;
}
.assortment___listbacimg {
  width: 100%;
  height: 306px;
}
.assortment__listitem {
  background-size: contain !important;
}
.assortment__listname {
  color: rgb(20, 20, 20);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.assortment__price {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: rgb(26, 27, 28);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.assortment__price__about {
  color: rgb(26, 27, 28);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.assortment__btn {
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  background: linear-gradient(
    -40.76deg,
    rgb(13, 142, 0) -0.434%,
    rgb(23, 189, 6) 100.434%
  );
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
}

.assortment__bottom__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #2266ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 254px;
  margin: 0 auto;
  height: 56px;
}
.assortment__mobilewrapper {
  display: none;
}

@media only screen and (max-width: 1170px) {
  .assortment__listitem {
    width: calc(50% - 12px);
  }
}

@media only screen and (max-width: 800px) {
  .assortment__title {
    font-size: 26px;
    max-width: 512px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .assortment___listbacimg {
    width: 100%;
    height: 342px;
  }
  .assortment__listbox {
    padding: 24px;
  }
  .assortment__listname {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .assortment__price {
    font-size: 18px;
  }
  .assortment__btn {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 3px;
  }
  .assortment {
    padding-bottom: 64px;
  }
}
@media only screen and (max-width: 570px) {
  .assortment__title {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .assortment {
    padding-bottom: 40px;
  }
  .assortment__mobilewrapper {
    display: block;
  }
  .assortment__list,
  .assortment__bottom__btn {
    display: none;
  }
  .assortment__listitem,
  .assortment__item {
    width: 243px !important;
  }
  .assortment___listbacimg {
    height: 243px;
    bottom: 16px;
  }
  .assortment__listname {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .assortment__swiper {
    margin-bottom: 24px;
  }
  .assortment__listbox {
    padding: 12px;
  }
  .swiper-custom-assortmentpagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
